*,
*::before,
*::after{
    box-sizing: border-box;
    color: white;
}

body{
    background-color: #563727;
    font-family: 'Noto Serif', serif;
    margin: 0;
    line-height: 1.6;
}

section{
    padding: 5em 2em;
}

img{
    display: block;
    max-width: 100%;
}

/* Texts */


h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.25rem;
}

h3{
    font-size: 1.25rem;
}

@media (min-width:800px){
    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 3.25rem;
    }

    h3{
        font-size: 1.5rem;
    }
}

.section__title{
    margin-bottom: .25em;
}

.section__title--intro{
    font-weight: 100;
}

.section__title--intro strong{
    font-weight: 600;
    display: block
}
 .section__subtitle{
    margin: 0;
    font-size: 1.5rem;
 }

 .section__subtitle--intro,
 .section__subtitle--about{
    background-color: 7A431D;
    padding: .25em 1em;
    margin-bottom: 1em;
 }

/* Header */
nav{
    display: none;
}

 /* Intro */

 .intro{

    position: relative;
 }

 .pfp__img{
    box-shadow: .25em .25em .75em rgba(0, 0, 0, .25);
 }

 .section__subtitle--intro{
    display: inline-block;
 }

 @media (min-width: 600px){
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title" 
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .pfp__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
    }

    .section__subtitle--intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
 }

 /* About Me */

 .about-me{
    max-width: 1000px;
    margin: 0 auto;
 }

 @media (min-width: 600px){
    .about-me{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "title"
            "subtitle"
            "text";
        grid-column-gap: 2em;
    }

    .section__title--about{
        grid-column: title;
    }

    .section__subtitle--about{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 2em);
    }
 }

 /* Projects */

 .my-projects{
    background-color: #372c2e;
    display: grid;
    text-align: center;
 }

 .projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 }

 .project{
    background-color: 7A431D;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
 }
 .project img{
    border-radius: 5px 5px 0 0;
 }
 
 .project:hover{
    box-shadow: 0 16px 32px 0 rgba(255, 255, 255, 0.2);
 }

 /* Footer */

 footer{
    background: #111;
    color: 7A431D;
    text-align: center;
    padding: 2.5em 0;
    font-size: 1.5rem;
 }

 footer a{
    color: inherit;
    text-decoration: none;
 }

 .footer__link{
    font-weight: bold;
 }

 .footer__link:hover,
 .social-list__link:hover{
    opacity: .7;
 }

 .footer__link:hover{
    text-decoration: underline;
 }

 .social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
 }

 .social-list__item{
    margin: 0 .5em;
 }

 .social-list__link{
    padding: .5em;
 }